---
layout: default
title: Tag
---

<div class="tag-container">
  <header class="tag-header">
    <h1 class="tag-title">Posts tagged with #{{ page.tag }}</h1>
  </header>

  <div class="post-list">
    {% for post in site.tags[page.tag] %}
    <article class="post-item">
      <div class="post-item-meta">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
        {% if post.categories.size > 0 %}
        <span class="post-category">{{ post.categories | first }}</span>
        {% endif %}
      </div>
      <h2 class="post-item-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      <div class="post-item-excerpt">
        {{ post.excerpt | strip_html | truncatewords: 50 }}
      </div>
      <a href="{{ post.url | relative_url }}" class="read-more">Read More</a>
    </article>
    {% endfor %}
  </div>

  <div class="back-to-blog">
    <a href="{{ '/blog/' | relative_url }}" class="btn btn-secondary">Back to All Posts</a>
  </div>
</div>
